<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizz2">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quizz2">
        <activity android:name=".ActivityPhotoPartageLogos"></activity>
        <activity android:name=".ActivityPhotoPartageKitchen" />
        <activity android:name=".ActivityPhotoPartageGeneralCulture" />
        <activity android:name=".ActivityPhotoPartageFlag" />
        <activity android:name=".GallerieActivity" />
        <activity android:name=".ActivityPhotoPartageFoot" />
        <activity android:name=".ActivityClassementTheme" />
        <activity android:name=".ActivityQuestionsLogos" />
        <activity android:name=".ActivityQuestionsKitchen" />
        <activity android:name=".ActivityQuestionsGeneralCulture" />
        <activity android:name=".ActivityQuestionsFlag" />
        <activity android:name=".ActivityQuestionsFoot" />
        <activity android:name=".ActivityOptions" />
        <activity android:name=".ActivityClassement" />
        <activity android:name=".ActivityThemes" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>